<!--==========================================
                FOOTER
===========================================-->

<footer class="footer">
  <div class="footer-overlay"></div>

  <div class="container">
    <div class="row gy-5">
      <!-- ==========================
                    LEFT
            ========================== -->

      <div class="col-lg-6">
        <div class="footer-brand">
          <img src="assets/img/Logo-ppolri.jpg" alt="Logo" />

          <h3>LSP PPPOLRI</h3>

          <p>
            Lembaga Sertifikasi Profesi PPPOLRI merupakan lembaga yang berkomitmen dalam pelaksanaan sertifikasi kompetensi
            profesi secara profesional, transparan dan berintegritas.
          </p>

          <div class="social-media">
            <a href="#">
              <i class="bi bi-instagram"></i>
            </a>

            <a href="#">
              <i class="bi bi-facebook"></i>
            </a>

            <a href="#">
              <i class="bi bi-twitter-x"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- ==========================
                    RIGHT
            ========================== -->

      <div class="col-lg-6">
        <div class="contact-info">
          <h4>Kontak Kami</h4>

          <ul>
            <li>
              <i class="bi bi-geo-alt-fill"></i>

              Jl. Trunojoyo No.3, Kebayoran Baru, Jakarta Selatan
            </li>

            <li>
              <i class="bi bi-telephone-fill"></i>

              (021) 7218144
            </li>

            <li>
              <i class="bi bi-whatsapp"></i>

              +62 812 3456 7890
            </li>

            <li>
              <i class="bi bi-envelope-fill"></i>

              info@lsppppolri.id
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">© 2026 LSP PPPOLRI. All Rights Reserved.</div>
</footer>
