<!-- ===========================
        TOP HEADER
=========================== -->

<header class="top-header">
  <div class="container">
    <div class="row align-items-center">
      <!-- ===========================
                    LOGO
            ============================ -->

      <div class="col-lg-6 col-md-6 col-12">
        <a href="index.html" class="logo-wrapper">
          <img src="/assets/img/Logo-ppolri.jpg" alt="Logo LSP PPPOLRI" class="logo-img" />

          <div class="logo-text">
            <h4>LSP PPPOLRI</h4>

            <p>Lembaga Sertifikasi Profesi</p>
          </div>
        </a>
      </div>

      <!-- ===========================
                    LOGIN REGISTER
            ============================ -->

      <div class="col-lg-6 col-md-6 col-12">
        <div class="auth-menu">
          <a href="auth/login.php" class="btn-login">
            <i class="bi bi-box-arrow-in-right"></i>

            Login
          </a>

          <span class="divider"> | </span>

          <a href="auth/register.php" class="btn-register">
            <i class="bi bi-person-plus-fill"></i>

            Daftar
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
